.about-hero {
    position: relative;
    background:
        linear-gradient(
            rgba(0, 35, 60, 0.85),
            rgba(0, 58, 99, 0.60)
        ),
        url("../../images/pages/about-us-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}