.contact-hero {
    position: relative;
    background:
        linear-gradient(
            rgba(0, 35, 60, 0.85),
            rgba(0, 58, 99, 0.60)
        ),
        url("../../images/pages/contact-us-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-card:hover {
    border-color: #CE2919;
}

.info-card .icon-box {
    background-color: #003B5C;
}

.info-card:hover .icon-box {
    background-color: #CE2919;
}

.info-card .icon-title {
    color: #003B5C;
    font-weight: bolder;
}

.info-card:hover .icon-title {
    color: #CE2919;
}
