.hero-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-slide-1 {
    position: absolute;
    background:
        linear-gradient(
            rgba(0, 35, 60, 0.85),
            rgba(0, 58, 99, 0.60)
        ),
        url("/images/pages/home-page-1.webp");
}

#hero-slide-2 {
    position: absolute;
    background:
        linear-gradient(
            rgba(0, 35, 60, 0.85),
            rgba(0, 58, 99, 0.60)
        ),
        url("/images/pages/home-page-2.webp");
}

#hero-slide-3 {
    position: absolute;
    background:
        linear-gradient(
            rgba(0, 35, 60, 0.85),
            rgba(0, 58, 99, 0.60)
        ),
        url("/images/pages/home-page-3.webp");
}

.hero-text {
    text-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

#prevHero:hover,
#nextHero:hover,
#nextSection:hover {
    padding: 3px;
    transform: scale(1.1);
}

@keyframes clientScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: clientScroll 30s linear infinite;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.carousel-container::before,
.carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.carousel-container::before {
    left: 0;
    background: linear-gradient(to right, white, transparent);
}

.carousel-container::after {
    right: 0;
    background: linear-gradient(to left, white, transparent);
}

.carousel-track {
    display: flex;
    width: fit-content;
}

.carousel-track.animated {
    animation: scroll 40s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% / 2));
    }
}

.carousel-item {
    flex-shrink: 0;
    width: 256px;
    padding: 0 1rem;
}

.logo-item {
    transition: all 0.3s ease;
}
