.project-hero {
    /* background: 
        linear-gradient(135deg, rgba(0, 59, 92, 0.95) 0%, rgba(0, 59, 92, 0.85) 100%),
        url(''); */
    background-color: lightgray;
    background-size: auto, 60px 60px, cover;
    background-position: center;
}

.project-card img {
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover img {
    transform: scale(1.15);
}
